body {
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    color: #40514E ;
    font-family: 'Merriweather', serif;
}
.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #FFF4E0;
}
.middle-container{
    
       margin: 100px 0px 100px 0px;
    

}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.contact-me{
    margin-bottom: 50px;
   
    
}
.btn{
    border-radius: 8px;
    background-color: #E21818;
    color: #ffffff;
    padding: 7px 10px;
    font-weight: bolder;
}
.bottom-container{
    background-color: #E21818;
    padding: 50px auto 50px auto;
    height:100px


}
.footer-link{
    margin: auto 20px auto 20px;
    color: #EAF6F6;
    text-decoration: none;
    font-family: 'montserrat' ,serif;;
    
    

}

h1{
    font-size: 5.625rem;
    line-height: 2;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento',cursive;
    color: #E21818;
}
h2{
    font-size: 2.5rem;
    font-family: 'montserrat', serif;
    color: #E21818;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'montserrat', serif;
    color: #E21818;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.profile{
    height: 150px;
    border-radius: 180%;
    margin-top: 50px;
   width: 10%;

    
}
.profile1{
    height: 150px;
    border-radius: 100%;
    margin-right: 30px;
    width: 25%;
    float: left;
}
.profile2{
    height: 150px;
    border-radius: 100%;
    margin-left: 30px;
    width: 25%;
    float: right;
}
.btn:hover{
    background-color: #F55050;
}
a:hover{
    color:#ffffff
}
.f{
     padding-top: 15px;
}
hr{
   border: 6px dotted; 
   width: 4%;
   color: #EAF6F6;
   border-bottom: none;
   margin: 100px auto;
}
.copywrite{
    color:#ffffff
}