/* header section */
body{
    font-family: sans-serif;
}
#title{
    background-color: rgb(130, 212, 237);
    color: white;
    text-align: left;
    font-size: 1.5rem;
    padding: 2% 10%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: right;
    padding: 150px 200px;
}
.photo{
    width: 25%;
    margin-top: 30px;
    margin-left: 150px;
    position: absolute;
}
h3,h4{
    padding: 20px 0;
    padding-left: 50px;
}
li{
    padding: 5px ;
    padding-left: 25px;
    padding-bottom: 10px;
}
.me{
    padding-bottom: 70px;
}
h2{
    text-align: center;
    padding: 100px 50px 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact{
    background-color: rgb(247, 216, 159);
}
/* Contacts section */
.handle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 2rem;
  }
  .media-handle {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(246, 198, 109);
    border-radius: 5px;
    text-align: center;
  }

.handlename{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .handle-features {
    list-style: none;
    padding: 0;
    margin: 0;
}
.handle-features li {
    margin-bottom: 20px;
}
.media-handle:hover{
    background-color: rgb(252, 184, 59);
}

@media (max-width: 1250px) {
    .handle {
      flex-direction: column;
      height: 100%;
    }
}
/* accounts section */
#Accounts{
    
    text-align: center;
    background-color:rgb(205, 238, 248);
    color: black;    
}
.carousel-item{
    padding: 7% 15% ;
}
.account-image{
    width: 50%;
    border-radius: 20%;
    margin: 20px;
}
.hrpaccount-image{
    width: 40%;
    border-radius: 10%;
    margin: 20px;
}
.account-text {
    font-size: 2rem !important;
    line-height: 1;
}

.pfp{
    width: 25%;
   margin-left: 900px;
   margin-bottom: 200px;
    text-align: left;
    border-radius: 20%;
    position: absolute; 
    padding: 50px 50px 50px ;
    

}

#footer{
    background-color:rgb(246, 198, 109) ;
    text-align: center;
    padding: 5% 12%;
}
.pl{
    color: rgb(125, 215, 243);;
}
.pl:hover{
    color: rgb(18, 193, 246);
}